{% extends "templates/base.html" %}

{% block content %}
  <div class='container-fluid'>
    <h1 class="cover-heading">Make a reservation today!</h1>
    <p class="lead">You can publish your resource and make a reservation.</p>
    <p class="lead">
      <a href="/view" class="btn btn-lg btn-default">View all resources</a>
      <a href="/creater" class="btn btn-lg btn-default">Create new resource</a>
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-default">All your resources</a>
      <a href="#" class="btn btn-lg btn-default">All your reservations</a>
    </p>
  </div>
{% endblock %}

